# Enable Bluetooth (NimBLE for ESP32-C3)
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y
CONFIG_BT_NIMBLE_PINNED_TO_CORE_0=y

# Enable BLE provisioning in wifi_provisioning manager
CONFIG_WIFI_PROV_BLE_ENABLED=y
